body {
    font-family: Inter;
    color: #FFFFFF;
    margin: 0px;
}

html {
    scrollbar-color: #395049 #152523;
    --scrollbar-color-thumb: #395049;
    --scrollbar-color-track: #152523;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: #14352f;
}

.material-symbols-outlined {
    display: inline-flex; 
    vertical-align: text-bottom;
    color: #96afa7;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}

.titlebar {
    display: flex;
    color: #c1cac9;
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    border-bottom: 0.1px solid #1d2726;
    background-color: #091311;
    position: sticky;
    top: 0;
}

.content {
    margin: 32px
}

.content2 {
    padding: 32px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

font {
    display: block;
}

.heading {
    color: #9bd6c2;
    font-size: 50px;
    font-weight: 700;
}

.heading2 {
    color: #9bd6c2;
    font-size: 30px;
    font-weight: 600;
}

.paragraph {
    color: #c1cac9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}

.paragraph2 {
    color: #c1cac9;
    font-size: 17px;
    font-weight: 500;
    margin-top: 8px;
}

.paragraph-hobbies {
    color: #c1cac9;
    font-size: 17px;
    font-weight: 500;
    margin-top: 16px;
    line-height: 2;
}

.me {
    margin-bottom: 32px;
    border-radius: 100px;
    border: 0.1px solid #1d2423;
}

.titlebar-title {
    margin-right: auto;
    padding: 16px;
    padding-left: 16px;
}

.social-btn-titlebar {
    filter: grayscale(1) brightness(5);
    font-size: 0px;
    margin-left: 20px;
    user-select: none;
    padding-top: 16px;
    padding-right: 16px;
}

.social-btn-titlebar:hover {
    filter: grayscale(1) brightness(3);
}

a.btn-titlebar {
    margin-right: 16px;
}

.project:hover {
    background-color: #0b201d;
    border-radius: 20px;
    color: #000000;
}

.project:hover > .project-title {
    color: #9bd6c2;
}

.project:hover > .project-summary {
    color: #82b8a6;
}

.project-title {
    color: #c1cac9;
    font-size: 27px;
    font-weight: 600;
    margin-top: 8px;
}

.project-summary {
    color: #9da8a7;
    font-size: 17px;
    font-weight: 500;
    margin-top: 8px;
}

.iconify.selected {
    color: #4fb493;
    border-bottom: 1px solid;
}

.iconify.selected:hover {
    color: #4fb493;
    border-bottom: 1px solid;
}

.iconify {
    color: #c1cac9;
    height: 100%;
}

.iconify:hover {
    color: #797979;
    border-bottom: 1px solid;
}

.content3 {
    padding: 32px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .project {
        display: flex;
        width: 95%;
        margin-bottom: 8px;
        padding: 16px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }

    .project-image {
        border-radius: 20px;
        width: 250px;
        max-width: 100%;
        min-height: 150px;
        object-fit: cover;
    }

    .project-text {
        margin-left: 32px;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .project {
        display: block;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        max-width: 400px;
        text-decoration: none;
    }

    .project-image {
        border-radius: 20px;
        width: 400px;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
}