body {
    font-family: Inter;
    color: #FFFFFF;
    margin: 0px;
}

html {
    scrollbar-color: #395049 #152523;
    --scrollbar-color-thumb: #395049;
    --scrollbar-color-track: #152523;
    -webkit-tap-highlight-color: transparent;
}

img {
    -webkit-user-drag: none;
}

font {
    display: block;
}

hr {
    border-top: 0.1px solid #1d2423;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 24px;
    margin-bottom: 24px;
}

iframe {
    border: 0px;
    width: 100%;
    background-color: #091311;
    height: 63px;
}

::selection {
    background-color: #0e2e2895;
}

.material-symbols-outlined {
    display: inline-flex; 
    vertical-align: text-bottom;
    color: #96afa7;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}

.titlebar {
    display: flex;
    color: #c1cac9;
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    border-bottom: 0.1px solid #1d2726;
    background-color: #091311;
    position: sticky;
    top: 0;
}

.content {
    margin: 32px
}

.content2 {
    padding: 32px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.content4 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
}

.heading {
    color: #9bd6c2;
    font-size: 50px;
    font-weight: 700;
}

.heading2 {
    color: #9bd6c2;
    font-size: 30px;
    font-weight: 600;
}

.paragraph {
    color: #c1cac9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}

.paragraph2 {
    color: #c1cac9;
    font-size: 17px;
    font-weight: 500;
    margin-top: 8px;
}

.paragraph-hobbies {
    color: #c1cac9;
    font-size: 17px;
    font-weight: 500;
    margin-top: 16px;
    line-height: 2;
}

.me {
    margin-bottom: 32px;
    border-radius: 100px;
    border: 0.1px solid #1d2423;
}

.titlebar-title {
    margin-right: auto;
    padding: 16px;
    padding-left: 16px;
}

a.btn-titlebar {
    margin-right: 16px;
}

.project-title {
    color: #c1cac9;
    font-size: 27px;
    font-weight: 600;
    margin-top: 8px;
}

.project-summary {
    color: #9da8a7;
    font-size: 17px;
    font-weight: 500;
    margin-top: 8px;
}

.iconify.btn.selected {
    color: #4fb493;
    border-bottom: 1px solid;
}

.iconify.btn.selected:hover {
    color: #4fb493;
    border-bottom: 1px solid;
}

.iconify.btn {
    color: #c1cac9;
    height: 100%;
}

.iconify.btn:hover {
    color: #797979;
    border-bottom: 1px solid;
}

.content3 {
    padding: 32px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
    .project {
        display: flex;
        background-color: #0a1312;
        border-radius: 20px;
        width: 95%;
        margin-bottom: 16px;
        padding: 16px;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }

    .project-image {
        border-radius: 20px;
        width: 250px;
        max-width: 100%;
        min-height: 150px;
        object-fit: cover;
    }

    .project-text {
        margin-left: 24px;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .project {
        display: block;
        background-color: #0a1312;
        border-radius: 20px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        max-width: 400px;
        text-decoration: none;
    }

    .project-image {
        border-radius: 20px;
        width: 400px;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.project:hover {
    background-color: #0b201d;
    border-radius: 20px;
}

.project:active {
    background-color: #0e2925;
    border-radius: 20px;
}

.project:hover .project-text .project-title {
    color: #9bd6c2;
}

.project:hover .project-text .project-summary {
    color: #82b8a6;
}

.button {
    display: block;
    color: #0b1816;
    background-color: #27b397;
    text-decoration: none;
    padding: 13px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
}

.button:hover {
    background-color: #1c816d;
}

.button:active {
    background-color: #165f51;
}

@keyframes show-tooltip {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.btn-titlebar .tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px;
    font-size: 17px;
    background-color: #28413c;
    color: #c1cac9;
    border-radius: 5px;
    z-index: 1;
    top: 55px;
    margin-left: -20px;
}

.btn-titlebar:hover .tooltip {
    animation: show-tooltip 0.5s forwards;
    animation-delay: 0.7s;
}

.dino .tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px;
    font-size: 17px;
    background-color: #28413c;
    color: #c1cac9;
    border-radius: 5px;
    z-index: 2;
    width: 86px;
    bottom: 200px;
    right: 50px;
}

.dino:hover .tooltip {
    animation: show-tooltip 0.5s forwards;
    animation-delay: 1s;
}

.iconify.dino {
    visibility: hidden;
    position: absolute;
    bottom: -30px;
    right: -30px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    color: #9bd6c2;
    opacity: 0.4;
    z-index: 1;
}

.easter-egg {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #00000000;
    user-select: none;
}

.easter-egg .iconify.dino {
    visibility: visible;
    rotate: 100deg;
    bottom: -200px;
    right: -200px;
    transition: all 0.7s;
}

.easter-egg:hover .iconify.dino {
    visibility: visible;
    rotate: 15deg;
    bottom: -30px;
    right: -30px;
    transition: all 0.5s;
}