body {
    font-family: Inter;
    color: #FFFFFF;
    margin: 0px !important;
}

.titlebar {
    color: #c1cac9;
    font-size: 25px;
    font-weight: 500;
    padding: 16px;
    padding-left: 16px;
    margin: 0px;
    border-bottom: 0.1px solid #293836;
    background-color: #091311;
}

.content {
    margin: 32px
}

font {
    display: block;
}

.heading {
    color: #9bd6c2;
    font-size: 50px;
    font-weight: 700;
}

.paragraph {
    color: #c1cac9;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
}