<html>
    <div class="titlebar">
        <font class="titlebar-title">Valer100</font>
        
        <a class="btn-titlebar">
            <span class="iconify selected" data-icon="mdi-home-variant" data-width="35" data-height="35"></span>
        
            <div class="tooltip">
                <font>Home</font>
            </div>
        </a>

        <a class="btn-titlebar" href="projects.html">
            <span class="iconify" data-icon="mdi-archive" data-width="35" data-height="35"></span>
        
            <div class="tooltip">
                <font>Projects</font>
            </div>
        </a>

        <a class="btn-titlebar" href="https://github.com/Valer100">
            <span class="iconify" data-icon="mdi-github" data-width="35" data-height="35"></span>
        
            <div class="tooltip">
                <font>GitHub</font>
            </div>
        </a>
    </div>
</html>